<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control mt-3" name="title" placeholder="title" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="url" name="url" class="form-control mt-3" placeholder="URL" required>
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" placeholder="description" class="form-control mt-3" required></textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success btn-block mt-3" >
                            save
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>